/** @format */

@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@font-face {
  font-family: "blackdemo";
  src: url(".././fonts/koin.otf");
}
@font-face {
  font-family: "topfont";
  src: url(".././fonts/Elianto.ttf");
}
@font-face {
  font-family: "mosk";
  src: url(".././fonts/Mosk.ttf");
}
/* ==========================================================================
	$Header
========================================================================== */
#header {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 0;
  margin: 0;
  top: 0;
}
#header .header-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  max-width: 1170px;
  padding: 30px 0;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}
#header .logo {
  float: left;
}

#header.fixed {
  background-color: #292c47;
}
#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 0;
}
#header.fixed .nav-toggle {
  top: 18px;
}

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.navigation {
  float: right;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover,
.navigation a.active {
  color: #fff;
}
.authorname{
  font-size: 17px;
  font-weight: bolder;
  margin: 0;
  margin-right: 20px;
  font-family: 'Rajdhani';
}
.commentbox{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: black;

}
.commentbox p{
  padding: 8px 0px;
  font-size: 12px;
  color: black;
  font-family: 'Acme';
}
.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-toggle:before,
.nav-toggle:after {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.nav-toggle:before {
  background-color: #e84545;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-toggle:after {
  background-color: #e84545;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.nav-toggle span {
  background-color: #fff;
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before,
.nav-toggle span:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-toggle.close-nav span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before,
.nav-toggle.close-nav span:after {
  background-color: #fff;
}
.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  background-image: url(../images/banner.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  object-fit: contain;
  height: 100%;
}

.banner-text {
  padding-top: 25%;
}
.banner-text h1 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.banner-text p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 80px;
}

.nav-brand {
  font-family: "blackdemo";
  font-size: 30px;
}
.nav-item {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
.nav-item a {
  margin-left: 20px;
  color: rgb(102, 102, 102);
  font-weight: bold;
  text-transform: uppercase;
}
.bholder {
  font-size: 14px;
  height: 90vh;
  background-size: cover;
  width: 100%;
}
.gholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  background-color: rgb(32, 35, 42);
  border: none;
  min-height: 90vh;
}
.lholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  background-color: rgb(32, 35, 42);
  border: none;
  height: 90vh;
  padding: 0;
}
.atfooter {
  width: 100%;
  display: block;
  z-index: 20;
}

#dropdownMenu2 {
  background-color: white !important;
}
.homepg {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px auto;
}
.homepg h1 {
  font-weight: bold;
  font-family: "topfont";
  color: rgb(55, 134, 208);
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  line-height: 4rem;
}
.homepg p {
  color: white;
  text-align: start;
  font-size: 18px;
  margin-bottom: 20px;
}
.gettstarted:hover {
  text-decoration: none;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background: none;
}
.gettstarted {
  background-color: rgb(55, 134, 208);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(55, 134, 208);
  padding: 11px 15px;
  font-weight: bolder;
  font-size: 14px;
}
.card {
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card .card-title {
  margin-bottom: 30px;
}
.fa-thumbs-up:hover{
  color: rgb(27, 202, 255);
  font-size: 20px;
}
.contact-wrapper {
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.75em;
  padding: 2em;
  width: 80%;
  font-family: "Rajdhani", sans-serif;
  margin: 0px auto;
  height: 80%;
}
.login-cta > h2 {
  color: #3e3f5e;
  font-size: 1.75rem;
  text-align: center;
  font-weight: bolder;
}
.socials-wrapper > header > h2 {
  background: #fff;
  color: #3e3f5e;
  font-size: 1rem;
  position: relative;
  text-align: center;
  z-index: 10;
}
.socials-wrapper > header > h2:after,
.socials-wrapper > header > h2:before {
  background: #d3d3e2;
  content: "";
  display: block;
  height: 0.1em;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 17.5%;
}
.socials-wrapper > header > h2:after {
  right: 0;
}
.socials-wrapper > header > h2:before {
  left: 0;
}
.socials-wrapper > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.socials-wrapper > ul > li {
  margin: 0.5em;
}
.socials-wrapper > ul > li > a {
  align-items: center;
  border-radius: 0.5em;
  color: #fff;
  display: flex;
  height: 2em;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease;
  width: 2em;
}
.socials-wrapper > ul > li > a.facebook {
  background-color: #3763d2;
}
.socials-wrapper > ul > li > a.twitter {
  background-color: #1abcff;
}
.socials-wrapper > ul > li > a.twitch {
  background-color: #7b5dfa;
}
.socials-wrapper > ul > li > a.youtube {
  background-color: #fd434f;
}
.socials-wrapper > ul > li > a:hover {
  transform: translatey(-0.25em);
}

form > .form-row {
  display: flex;
  margin: 0.75em 0;
  position: relative;
}
form > .form-row > span {
  background: #fff;
  color: #adafca;
  display: inline-block;
  font-weight: 400;
  left: 1em;
  padding: 0 0.5em;
  position: absolute;
  pointer-events: none;
  transform: translatey(-50%);
  top: 50%;
  transition: all 300ms ease;
  user-select: none;
}
form > .form-row > input,
form > .form-row > button {
  border-radius: 0.5em;
  font-family: inherit;
  padding: 1em 0.5em;
  width: 100%;
}
form > .form-row > input {
  font-weight: bold;
  transition: 100ms ease all;
  width: 100%;
}
form > .form-row > input[type="text"],
form > .form-row > input[type="password"] {
  border: 0.075em solid #ddd;
}
form > .form-row > input:valid + span {
  top: 0;
  font-size: 0.9rem;
}
form > .form-row > input:invalid + span {
  top: 50%;
}
form > .form-row > input:focus + span {
  top: 0;
}
form > .form-row > input:required {
  box-shadow: none;
}
form > .form-row > input:focus {
  border-color: #7b5dfa;
  outline: none;
}
form > .form-row > input:focus:invalid {
  box-shadow: none;
  top: 50%;
}
form > .form-row > input:focus:valid {
  top: 0;
}
form > .form-row > button {
  background-color: #7b5dfa;
  border: 0.1em solid #7b5dfa;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}
form > .form-row > button:focus {
  border: 0.1em solid #532cf8;
  outline: none;
}
form > .form-row > button:hover {
  background-color: #6744f9;
}

.form-control {
  border-width: 2.3px;
}

.form-group label {
  width: 100%;
}

.btn.btn-block {
  padding: 12px 10px;
}

.footer {
  color: #888;
  text-align: center;
}
.gallery-posts {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(230, 230, 230);
}
/*homepage */
.my-home-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
}
.galleryh4 {
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 137, 172);
}
.imgcontainer {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}
.imgcontainer img {
  height: 100%;
  width: 100%;
}
.figcap {
  display: flex;
  margin: 20px auto;
  width: 300px;
  height: auto;
  flex-direction: column;
}
.figcap img {
  width: 100%;
  height: 250px;
}
.news_hor {
  font-family: Barlow;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: auto;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  color: black;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.linker {
  padding: 10px 15px;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.news_hor img {
  width: 365px;
  float: left;
  position: relative;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 30px;
  z-index: 1;
}
.news_hor:hover img,
.news_hor.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news_hor figcaption {
  padding: 5%;
  padding-bottom: 73px;
  width: 90%;
  background-color: #ffffff;
}

.news_hor h3 {
  font-family: "Cabin";
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
  margin: 3px 0;
}

.news_hor footer {
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  padding: 0 20px;
  font-size: 13px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hor-dat {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hor-dat a {
  margin: 10px auto;
  padding: 5px 10px;
  cursor: pointer;
}
.carousel-bx {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.hor-dat a:hover {
  background-color: rgb(84, 91, 98);
  color: white;
}
.hor_date {
  float: left;
  margin-left: 370px;
}
.login-section {
  width: 100%;
  height: 100%;
}
.log-file {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80%;
  margin: 12% auto;
}
/* .news_hor a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
} */
.register-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  width: 100%;
  height: auto;


}
@media screen and (max-width: 425px) {
  .log-file .card-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .log-file .card.fat {
    padding: 0;
  }

  .log-file .card.fat .card-body {
    padding: 15px;
  }
}

/* add page */

/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
	 #GRID
	 ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row .col-2:last-child .input-group-desc {
  margin-bottom: 0;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-refine {
  margin: 0 -15px;
}

.row-refine .col-3 .input-group-desc,
.row-refine .col-9 .input-group-desc {
  margin-bottom: 0;
}

.col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 10px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.form-row .name {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  margin: 11px 10px 11px 20px;
  width: 90px;
  font-weight: bold;
}

.form-row .value {
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: calc(100% - 120px);
}

@media (max-width: 767px) {
  .form-row {
    display: block;
    padding: 24px 30px;
  }
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

/* ==========================================================================
	 #BOX-SIZING
	 ========================================================================== */
/**
   * More sensible default box-sizing:
   * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
   */

   
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

input:-webkit-autofill {
  box-shadow: 0 0 0 30px transparent inset;
  -moz-box-shadow: 0 0 0 30px transparent inset;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -o-box-shadow: 0 0 0 30px transparent inset;
  -ms-box-shadow: 0 0 0 30px transparent inset;
  background-color: transparent !important; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
	 #RESET
	 ========================================================================== */
/**
   * A very simple reset that sits on top of Normalize.css.
   */
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/**
   * Remove trailing margins from nested lists.
   */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
   * Remove default table spacing.
   */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
   * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
   *    on fieldsets.
   */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
	 #PAGE WRAPPER
	 ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
	 #BACKGROUND
	 ========================================================================== */
.bg-blue {
  background: #2c6ed5;
}

.bg-red {
  background: #fa4251;
}

.bg-dark {
  background: #1a1a1a;
}

.bg-gra-01 {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fbc2eb),
    to(#a18cd1)
  );
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#fc2c77),
    to(#6c4079)
  );
  background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.bg-gra-03 {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#08aeea),
    to(#b721ff)
  );
  background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

/* ==========================================================================
	 #SPACING
	 ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-130 {
  padding-top: 130px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-55 {
  margin-right: 55px;
}

.m-b-55 {
  margin-bottom: 55px;
}
.state-h {
  display: flex;
  height: 63vh;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* ==========================================================================
	 #WRAPPER
	 ========================================================================== */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w900 {
  max-width: 900px;
}

.wrapper--w790 {
  max-width: 790px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
	 #BUTTON
	 ========================================================================== */
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

.btn--blue-2 {
  background: #2c6ed5;
  padding: 8px 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.btn--blue-x {
  background: #2c6ed5;
  padding: 10px 12px;
  border-radius: 5px;
  color: rgb(240, 240, 240);
}
.last-navitem {
  margin-top: 7px;
  margin-left: 20px;
}

.btn--blue-x:hover {
  background: #1653b6;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.btn--blue-2:hover {
  background: #185ac1;
}

.btn--red {
  background: #ff4b5a;
}

.btn--red:hover {
  background: #eb3746;
}

/* ==========================================================================
	 #DATE PICKER
	 ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td,
.table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after,
.daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
	 #FORM
	 ========================================================================== */
input,
textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 12px;
  font-family: inherit;
}

textarea {
  resize: none;
}

.input-group {
  position: relative;
  margin: 0;
}

.input--style-6,
.textarea--style-6 {
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 20px;
}

.input--style-6::-webkit-input-placeholder,
.textarea--style-6::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

.input--style-6:-moz-placeholder,
.textarea--style-6:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}

.input--style-6::-moz-placeholder,
.textarea--style-6::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}

.input--style-6:focus,
.textarea--style-6:focus {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}

.textarea--style-6 {
  line-height: 1.2;
  min-height: 120px;
  padding: 10px 20px;
}

.label--desc {
  font-size: 13px;
  color: #999;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .label--desc {
    margin-top: 14px;
  }
}

.input-file {
  display: none;
}

.input-file + label {
  font-size: 15px;
  color: #fff;
  color: white;
  line-height: 40px;
  background-color: #666666;
  padding: 0 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.input-file:focus + label,
.input-file + label:hover {
  background: #1b1b1b;
}

.input-file__info {
  font-size: 15px;
  color: #666;
}

@media (max-width: 767px) {
  .input-file__info {
    display: block;
    margin-top: 6px;
  }
}

/* ==========================================================================
	 #TITLE
	 ========================================================================== */
.title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 123, 255);
  margin-bottom: 24px;
  font-family: "blackdemo";
}

@media (max-width: 767px) {
  .title {
    padding: 0 15px;
  }
}

/* ==========================================================================
	 #CARD
	 ========================================================================== */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  border: none !important;
}

.card-6 {
  background: transparent;
}

.card-6 .card-heading {
  background: transparent;
}

.card-6 .card-body {
  background: #fff;
  position: relative;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  padding: 10px 0;
  padding-bottom: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.card-6 .card-body:before {
  bottom: 100%;
  left: 75px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
}

.card-6 .card-footer {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}

@media (max-width: 767px) {
  .card-6 .card-footer {
    padding: 50px 30px;
  }
}

/*
*
* ===========================================================
*     GALLERY SECTION
* ===========================================================
*
*/
.mainbox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 0px auto;
  margin-top: 120px;
}
.activity {
  font-family: "mosk";
}
.hero {
  margin: 0px !important;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
  background-color: rgb(32, 35, 42);
  column-gap: 40px;
}
.cardbox {
  width: 80%;
  margin: 0px auto;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
  border-bottom: 2px solid rgb(0, 186, 219);
}

/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .btn-flat.btn-flat-icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: #fff !important;
  background: #b5b6b6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
b-dropdown{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: none;

}
.cardbox .float-right a:hover {
  background: #f4f4f4 !important;
}
.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: "Abhaya Libre", serif;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */
/* Media Section
---------------------------------- */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media .mr-3 {
  margin-right: 1rem !important;
}
.media img {
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: 0.4rem !important;
}
.media-body p {
  font-family: "Rokkitt", serif;
  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}
.media-body small span {
  font-family: "Rokkitt", serif;
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

/* ------------------------------- */
/* Cardbox Item
---------------------------------- */
.cardbox .cardbox-item {
  position: relative;
  display: block;
}
.cardbox .cardbox-item img {
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.fw {
  width: 100% !important;
  height: auto;
}

/* ------------------------------- */
/* Cardbox Base
---------------------------------- */
.cardbox-base {
  border-bottom: 2px solid #f4f4f4;
}
.cardbox-base ul {
  margin: 10px 0px 10px 15px !important;
  padding: 10px !important;
  font-size: 0px;
  display: inline-block;
}
.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a {
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a i {
  position: relative;
  top: 4px;
  font-size: 16px;
  color: #8d8d8d;
  margin-right: 15px;
}
.cardbox-base li a span {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  margin-left: 20px;
  position: relative;
  top: 5px;
}
.cardbox-base li a em {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  position: relative;
  top: 3px;
}
.cardbox-base li a img {
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}

/* ------------------------------- */
/* Cardbox Comments
---------------------------------- */
.cardbox-comments {
  padding: 10px 40px 20px 40px !important;
  font-size: 0px;
  width: 98%;
  text-align: center;
  display: inline-block;
}
.cardbox-comments .comment-avatar img {
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}
.cardbox-comments .comment-body {
  overflow: auto;
}
.search {
  position: relative;
  left: 50px;
  top: -40px;
  margin-bottom: -40px;
  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
}
.search input[type="text"] {
  background-color: #fff;
  line-height: 10px;
  padding: 15px 60px 20px 10px;
  border: none;
  border-radius: 4px;
  width: 350px;
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
}
.search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

/* ------------------------------- */
/* Author
---------------------------------- */
.author a {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #00c4cf;
}
.author p {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #8d8d8d;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* hide the regular checkbox */
.pd-checkbox input {
  opacity: 0;
  position: absolute;
}
/* position the label */
.pd-checkbox input,
.pd-checkbox label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.pd-checkbox label {
  position: relative;
  font-size: 12px;
  font-weight: bold;
}
/* style the unchecked checkbox */
.pd-checkbox input + label:before {
  content: "";
  background: #fff;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 15px;
}
/* style the checked checkbox */
.pd-checkbox input:checked + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  background: #df0303;
  color: #fff;
  border-color: #cf0101;
}

.fa:hover {
  cursor: pointer;
}

.footer {
  text-align: center;
}
.footer-bottom {
  background-color: rgb(29, 32, 38);
  padding: 20px 0;
}
.footer .footer-col {
  margin-bottom: 80px;
}
.footer h5 {
  color: #fff;
}
.footer h5 {
  margin-bottom: 20px;
}
.footer p {
  color: rgba(255, 255, 255, 0.5);
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #e84545;
}
.footer .footer-share {
  margin-top: 0;
}
.footer .footer-share li {
  display: inline-block;
  float: none;
}
.footer .footer-share a {
  border-width: 2px;
  color: #fff;
}
.footer .fa-heart {
  color: #e84545;
  font-size: 11px;
  margin: 0 2px;
}
